GIVING HEIGHT , BACKGROUND , width , BORDER TO DIV and same can be applied to heading as well
 h1{
    border:2px solid black;
     border-radius:5px;    /* used to make your border corner round*/
    border-radius:5%;
}
/* div{
     height:100px;
    width: 100px;
    background-color: red;
    border-width: 2px;
    border-style:solid;
    border-color: black;
    text-align: center; 
    
    padding-left:25px;     
    padding-right:25px;
    padding-top:50px;
    padding-bottom:25px;
} */
#one{
    padding:25px;
    padding:10px 10px 10px 10px;
} 
#bhai{
    margin: top 50px;
}
/*  DISPLAY PROPERTY */
#alpha{
    background-color: blue;
    margin: 25px;
    padding:25px 25px 25px 25px;
  /* display:inline  - this property make div to occupy only required length */
  /* display:block - this propert makes the div to occupy the full length */
  /* display:inline-block - this helps to apply margine and padding on div  */
/* display:none - to remove element (kisi element ko jab gayab krna ho or sath me uski khali jagah ko b remove krna ho ) */
}